<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rastreo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input placeholder="Código de viaje"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="full">
          Buscar<ion-icon slot="end" name="search"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <p>My Google Maps Demo</p>
        <div id="map"></div>
        <script>
          function initMap() {
            console.log("map");
            var test = { lat: -25.363, lng: 131.044 };
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: test
            });
            var marker = new google.maps.Marker({
              position: test,
              map: map
            });
          } 
        </script>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>