<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Tarjetas de operación</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid fixed class="ion-padding">
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item lines="none" *ngFor="let item of licencias | async">
              <ion-card>
                <ion-item lines="none">
                  <ion-label color="primary">NIT: {{ item.nit }}</ion-label>
                  <!-- <ion-icon slot="end" name="more"></ion-icon> -->
                </ion-item>
                <ion-card-content class="card-content">
                  <ion-label><b>Empresa: </b>{{ item.empresa }}</ion-label>
                  <ion-label><b>Descripción: </b>{{ item.descripcion }}</ion-label>
                  <ion-label><b>Exp. Vigencia: </b>{{ item.fecha_vigencia }}</ion-label>
                  <ion-label><b>Respomsable: </b>{{ item.respomsable }}</ion-label>
                  <ion-label><b>Teléfono: </b>{{ item.telefono }}</ion-label>
                  <ion-label><b>Email: </b>{{ item.email }}</ion-label>
                </ion-card-content>
              </ion-card>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>